<div class="container-fluid project-show" style="background:#0088c8 url('<%= @project.cover_photo.url(:background)%>') no-repeat 50%">
  <h1 id="project-slogan"><%= @project.slogan %></h1>
  <h4 id="project-header"><%= @project.title %></h4>
</div>
<div class="container-fluid rest">
  <div class="container row top-part">
    <div class="col-md-4 col-md-push-2 col-sm-4 col-sm-push-2 col-xs-12">
      <p id="project-h">- PROJECT TYPE</p>
      <h4 id="pt"><%= @project.category.name %></h4>
    </div>
    <div class="col-md-4 col-md-push-2 col-sm-4 col-sm-push-2 col-xs-12">
      <p id="project-h">- THE CHALLENGE</p>
      <h4 id="pt"><%= @project.challenge %></h4>
    </div>
    <div class="col-md-4 col-md-push-4 col-sm-4 col-sm-push-4 col-xs-12">
      <p id="project-h">- IN THE WILD</p>
      <% if @project.link == ""%>
      <button type="button" name="button" class="btn no-link-button" disabled>In development</button>
      <% else %>
      <a href="<%= @project.link%>" target="_blank" class="btn project-link-button">View it online &nbsp; <span id="anim">></span></a>
      <% end %>
    </div>
  </div>
    <div class="container-fluid"><br><br>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= @project.description.html_safe %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
      <% if @project.prev == nil%>
      <% else %>
        <p id="next-p">PREVIOUS PROJECT</p>
        <%= link_to project_path(@project.prev.id), id:"linki" do %>
        <h3 id="ntitle"><%= @project.prev.title %></h3>
        <% end %>
        <div class="pull-left">
          <span class="glyphicon glyphicon-chevron-left" id="gf"></span>
        </div>
        <% end %>
      </div>
      <% if @project.next == nil %>
      <% else %>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p id="next-p">NEXT PROJECT</p>
        <%= link_to project_path(@project.next.id), id:"linki" do %>
        <h3 id="ntitle"><%= @project.next.title%></h3>
        <% end %>
        <div class="pull-right">
          <span class="glyphicon glyphicon-chevron-right" id="gf"></span>
        </div>
      </div>
      <% end %>
    </div>
</div>
<div class="project-show-bottom">
  <h1 id="bottom-headline">Thanks for watching</h1>
  <%= link_to "LET'S GO BACK", projects_path, class:"btn back-bottom-button"%>
</div>
