<div class="container-fluid all">
  <div class="container introduction">
    <h1 id="about-header">About Me</h1>
    <div class="row">
      <div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
        <div class="container bitmoji">
          <%= image_tag 'me.png', class:"img-responsive", id:"bitmoji" %>
          <p id="batman-quote">"I'm not saying I'm batman, but nobody has ever seen me and batman
            <br>
            in the same room."</p>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6 col-xs-12">
        <h4 id="about-content">Hi, I'm Lewis Nyoike. I am</h4>
        <div class="container">
          <ul>
            <li>a
              <strong>software developer</strong>
            </li>
            <li>an
              <strong>infographics designer</strong>
            </li><br>
            <li id="videographer">a
              <strong>videographer</strong>
            </li>
            <li>a
              <strong>youtuber</strong>
            </li><br>
            <li>and a die hard
              <strong>batman fan</strong>
            </li>
          </ul>
        </div><br>
        <p id="about-content">
          I love learning and creating innovative solutions for this digital world. I've been mostly self taught and find myself dabbling with code and software programs like adobe from time to time. Technology is like art to me and is more of a passion than
          work. I've been fortunate to work with various enterprices and other talented individuals who have helped me in a long way to widen my scope. You can always find me hanging out on
          <a id="s-link" href="https://www.instagram.com/_nyoike_/" target="_blank">Instagram</a>
          or just send an
          <a href="mailto:nyoikelewis@gmail.com">email</a>.</p>
      </div>
    </div>
    <div class="services">
      <h3 id="service">At your service</h3>
      <hr id="under-ph">
      <div class="row">
        <!-- the three icons here -->
      </div>
    </div>
  </div>
</div>
<div class="all">
  <div class="container skills">
    <h3 id="skills-header">My skill set</h3>
    <hr id="under-ph">
    <p id="sub">Programming</p><br>
    <% @programming_skills.each do |skill|%>
      <div class="col-md-1 col-sm-2 col-xs-2">
        <%= skill.name %>
      </div>
      <div class="col-md-11 col-sm-10 col-xs-10">
        <%= progress_bar skill.progress.to_f, alternative: skill.color, label: true, id:'progress-bar' %>
      </div>
    <% end %><br>
    <p id="sub">Editorial skills</p><br>
    <div class="row">
      <% @editorial_skills.each do |skill|%>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <%= image_tag skill.avatar.url(:thumb), class:"img-responsive", id:"skill-photo"%>
          <p id="skill-name"><%= skill.name %></p>
          <p id="rating">
            <% skill.rating.to_i.times do  %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
            <% skill.blank_stars.times do %>
              <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid bottom-about">
  <h1 id="bottom-headline">See my work</h1>
  <%= link_to "Projects", projects_path, class:"btn work-button", id:"link"%>
</div>
