<!DOCTYPE html>
<html>
  <head>
    <title>RevampedPortfolio</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- The preloader -->
<!-- <div class="preloader">
  <div class="body">
    <span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="base">
      <span></span>
      <div class="face"></div>
    </div>
  </div>
  <div class="longfazers">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <h1 class="preloader-heading">Redirecting</h1>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
</div> -->

    <div class="container-nav">
      <div class="mask"></div>
    <aside class="sidebar">
        <nav>
            <ul>
              <div class="container nav-options">
                <li>
                  <a href="/"><i class="fa fa-space-shuttle fa-5x"></i></a>
                  <br><hr id="line-under"><br><br>
                </li>
                <li>
                  <a href="/about">About Me</a>
                  <br><hr id="line-under"><br><br>
                </li>
                <li>
                  <a href="/projects">Work</a>
                  <br><hr id="line-under"><br><br>
                </li>
                <li>
                  <a href="/contact">Contact Me</a>
                  <br><hr id="line-under"><br><br><br>
                </li>
              </div>
            </ul>
        </nav>
    </aside>
    <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
  </div>

  <% unless flash.empty? %>
       <script type="text/javascript">
            <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
           toastr['<%= type %>']('<%= f[1] %>');
       <% end %>
       </script>
  <% end %>
      <%= yield %>

          <footer>
            <div class="container social-links-f">
              <a id="s-link" href="https://www.linkedin.com/in/lewis-nyoike-a2285b148/" target="_blank">Linkedin</a>&nbsp;&nbsp;
              <a id="s-link" href="https://www.instagram.com/_nyoike_/" target="_blank">Instagram</a>&nbsp;&nbsp;
              <a id="s-link" href="#">Youtube</a>
            </div>
            <div class="container social-links-fm">
              <a id="s-link" href="https://www.linkedin.com/in/lewis-nyoike-a2285b148/" target="_blank">
                <img src="https://png.icons8.com/ios/28/54c5f9/linkedin-2-filled.png">
              </a>&nbsp;&nbsp;
              <a id="s-link" href="https://www.instagram.com/_nyoike_/" target="_blank">
                <img src="https://png.icons8.com/ios/28/54c5f9/instagram-new.png">
              </a>&nbsp;&nbsp;
              <a id="s-link" href="#">
                <img src="https://png.icons8.com/ios/30/54c5f9/youtube-filled.png">
              </a>
            </div>
          </footer>
      <link href="https://fonts.googleapis.com/css?family=Bangers|Bungee+Shade|Lora|Rokkitt|Niconne|Montserrat|Roboto" rel="stylesheet">

      <script id="dsq-count-scr" src="//lewisnyoike.disqus.com/count.js" async></script>
  </body>

</html>
